.contacts {
    padding-bottom: 68px;
}

.contacts__content-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}

.contacts__title {
    @include fontTT;
    @include h2-title;
    color: $bgColor;
    margin-bottom: 22px;
}

.contacts__left {
    position: relative;
    grid-column: span 2;
    max-height: 465px;
    min-height: 465px;
    max-width: 100%;

    #map {
        max-width: 850px;
        height: 460px;
    }
    
    .contacts__map {
        height: 460px;
        width: 400px;
        background-color: black;
        opacity: 0.7;
        position: absolute;
        top: 0px;
        display: none;
    }

    .open {
        display: block;
    }

    button {
        position: absolute;
        left: 350px;
        top: 20px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        padding: 0;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    h3 {
        @include fontTT;
        position: absolute;
        top: 170px;
        left: 70px;
        color: $text-color;
    }

    p {
        position: absolute;
        top: 200px;
        left: 70px;
        @include fontRoboto;
        color: #CACACA;
        width: 275px;
    }

    .contacts__btn-phone-svg {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 270px;
        left: 70px;
    }

    a {
        @include fontRoboto;
        text-decoration: none;
        color: $btn-color;
        position: absolute;
        top: 270px;
        left: 100px;
    }

}





.contacts__form-title {
    @include fontRoboto;
    @include h2-subtitle;
    margin-bottom: 5px;
}

.contacts__form-descr {
    @include textDescr;
    @include fontRoboto;
    line-height: 22px;
    color: #999999;
    max-width: 370px;
    margin-bottom: 14px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        width: 100%;

        input {
            @include textDescr;
            @include fontRoboto;
            padding: 15px;
            background: #E9E9E9;
            outline: none;
            border: none;
            border-radius: 1px;
            color: $bgColor;
            margin-bottom: 30px;
            width: 100%;

        }

        input:hover::-webkit-input-placeholder {
            color: $btn-color;
        }

    }

    .contacts__btn {
        @include btnComplite;
    }

}

.contacts__textarea {
    @include textDescr;
    @include fontRoboto;
    height: 120px;
    width: 100%;
    background: #E9E9E9;
    outline: none;
    border: none;
    resize: none;
    border-radius: 1px;
    padding: 15px;
    color: $bgColor;
    margin-bottom: 27px;
}

textarea:hover::-webkit-input-placeholder {
    color: $btn-color;
}