//header

.header {
    background-color: $bgColor;
}

.header__media {
    display: none;
}

.header__burger-container {
    display: none;
}

.header__burger {
    display: none;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 23px;
    position: relative;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header__nav {
    display: flex;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li:not(:last-child) {
            margin-right: 77px;
        }

        a {
            text-decoration: none;
            color: $text-color;
            @include fontTT;

            &:hover {
                transition: 0.5s;
                color: #FF6E30;
            }

            &:focus {
                color: #CE4307;
            }

            &:active {
                color: $text-color;
                background-color: #BC572B;
            }
        }

    }
}

.header__social {
    display: flex;
    align-items: center;

    .header__btn-search {
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    svg {
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {

        }
    }

    .header__social-svg:not(:last-child) {
        margin-right: 20px;
    }
}

.header__search-container {
    // display: none;
    position: absolute;
    right: 27px;
    top: 27px;
}


.header__search-media-container {
    display: none;
    position: absolute;
    right: 40px;
    z-index: 2;
}

.header__search-input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 130px;
}

.header__search-remove {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.header__contacts-btn-close-svg {
    width: 30px;
    height: 30px;

}

.open {
    display: block;
}
