@media (max-width: 800px) {
    .container {
        max-width: 700px;
    }

    .header__nav {
        display: none;
    }

    .header__media {
        display: block;
        background-color: #4A4A4A;

        ul {
            display: flex;
            justify-content: space-between;
            padding-top: 12px;
            padding-bottom: 12px;

                a {
                    text-decoration: none;
                    color: $text-color;
                    @include fontTT;

                    &:hover {
                        transition: 0.5s;
                        color: #FF6E30;
                    }

                    &:focus {
                        color: #CE4307;
                    }

                    &:active {
                        color: $text-color;
                        background-color: #BC572B;
                    }
            }
        }
    }


    .hero__left {
        background-image: url(/images/hero-left768.png);
        padding-top: 260px;
    }

    .about__container {
      display: flex;
      flex-direction: column;
    }


    .about__right {
        form {
            label {
                max-width: 494px;
                input {
                    width: 330px;
                }
            }
        }
    }


    .projects__item:nth-child(1),
    .projects__item:nth-child(2),
    .projects__item:nth-child(3) {
      grid-column: span 4;
    }

    .projects__item:nth-child(4) {
      grid-column: span 12;
    }

    .projects__item:nth-child(5) {
      grid-column: span 12;
      order: 1;
    }

    .projects__item:nth-child(6) {
      grid-column: span 6;
    }

    .projects__item:nth-child(7) {
      grid-column: span 6;
    }

    .contacts__content-container {
      grid-template-columns: repeat(1,1fr);
    }

    .contacts__left {
      width: 100%;

      .contacts__map {
          width: 100%;
          height: 210px;
          top: 250px;
      }

      .open {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
      }

      .contacts__map-cont-left {
        position: initial;
    }

      h3 {
        margin-bottom: 10px;
      }

      p {
        max-width: 430px;
        margin-bottom: 10px;
      }
    }

    .contacts__right {
      margin-top: 20px;
    }

    .contacts__form {
        label {
            input {
                margin-bottom: 15px;
            }
        }
    }

    .contacts__textarea {
        margin-bottom: 15px;
    }

    .footer__center {
        display: none;
    }

}
