@media (max-width: 530px) {
    .container {
        max-width: 500px;
    }

    .header__list {
        li {
            display: none;
        }
    }


    .header__burger-container {
        display: none;
        position: absolute;
        top: 81px;
        z-index: 1;
        background-color: #202020;
        width: 100%;

    }

    .header__burger {
        display: block;
        border: none;
        cursor: pointer;
        background-color: transparent;
        padding: 20px 0 0 30px;
    }

    .header__list-burger {
        padding: 40px;
    }

    .header__item-burger {
        margin-bottom: 20px;

        a {
            text-decoration: none;
            color: $text-color;
            @include fontTT;

            &:hover {
                transition: 0.5s;
                color: #FF6E30;
            }

            &:focus {
                color: #CE4307;
            }

            &:active {
                color: $text-color;
                background-color: #BC572B;
            }
        }
    }

    .header__burger-remove {
        border: none;
        cursor: pointer;
        background-color: transparent;
        padding-left: 30px;
        padding-top: 20px;
    }

    .header__burger-btn-close-svg {
        width: 20px;
        height: 20px;
    }

    .open {
        display: block;
    }

    .header__search-container {
        top: 60px;
    }

    .hero__container {
        grid-template-columns: 1fr;
    }

    .about__container {
        flex-direction: column;
    }

    .about__left {
        p {
            font-size: 14px;
            line-height: 25px;
        }
    }

    .about__right {
        form {
            label {
                max-width: 320px;
                input {
                    width: 290px;
                }
            }
        }
    }

    .contacts__content-container {
        grid-template-columns: 1fr;
    }

    .contacts__form-descr {
        font-size: 14px;
        line-height: 18px;
    }

    .contacts__left {
        margin-bottom: 30px;
    }

    .contacts__map-cont-left {


      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
}


@media (max-width: 430px) {

    .container {
        max-width: 400px;
    }

    .projects__list {
      grid-template-columns: auto;
      grid-template-areas:
          "item1"
          "item2"
          "item3"
          "item4"
          "item6"
          "item7"
          "item5";
  }

    .projects__list {
      gap: 30px;
    }

    .projects__item:nth-child(1),
    .projects__item:nth-child(2),
    .projects__item:nth-child(3) {
      grid-column: span 1;
    }

    .projects__item:nth-child(4) {
      grid-column: span 1;
    }

    .projects__item:nth-child(5) {
      grid-column: span 1;
      order: 1;
    }

    .projects__item:nth-child(6) {
      grid-column: span 1;
    }

    .projects__item:nth-child(7) {
      grid-column: span 1;
    }

    .projects__item .projects__card-img {
      width: 100%;
    }

    .footer__right-media {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #202020;
        padding-top: 30px;
        padding-bottom: 30px;

        p {
            margin-bottom: 10px;
            @include fontRoboto;
            color: #CACACA;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }

        a:not(:last-child) {
            text-decoration: none;
            margin-right: 20px;
        }

        svg {
            width: 30px;
            height: 30px;
            cursor: pointer;
            fill: #CACACA;

            &:hover {
                fill: $btn-color;
            }

            &:focus {
                fill: #CE4307;
            }

            &:active {
                fill: #BC572B;
            }

        }

    }

    .footer {
        background-color: #4A4A4A;
    }

    .footer__right {
        display: none;
    }

    .footer__left {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 10px;
            line-height: 13px;
        }
    }
}


@media (max-width: 400px) {
    .hero__list {
        gap: 10px;
    }
}

@media (max-width: 320px) {

    .container {
        max-width: 290px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .projects__list {
      gap: 30px;
    }

    .projects__item:nth-child(1),
    .projects__item:nth-child(2),
    .projects__item:nth-child(3) {
      grid-column: span 10;
    }

    .projects__item:nth-child(4) {
      grid-column: span 10;
    }

    .projects__item:nth-child(5) {
      grid-column: span 10;
      order: 1;
    }

    .projects__item:nth-child(6) {
      grid-column: span 10;
    }

    .projects__item:nth-child(7) {
      grid-column: span 10;
    }

    .about__right {
      form {
        label {
          input {
            width: 257px;
          }
        }
      }
    }

    .contacts .container {
      max-width: 320px;
    }
}
