@media (max-width: 1024px) {

    .container {
        max-width: 960px;
    }

    .header__nav {

        ul {

            li:not(:last-child) {
                margin-right: 31px;
            }
        }
    }

    .hero__left {
        background-image: url(/images/hero-left1024.png);
    }

    .hero__subtitle {
        margin-bottom: 30px;
        max-width: 350px;
    }

    .hero__right {
        margin-top: 7px;
    }

    .about__right form {
        flex-direction: column;
        align-items: flex-start;
    }

    .about__right form label input {
        margin-bottom: 20px;
    }

    .projects__item:nth-child(1),
    .projects__item:nth-child(2) {
      grid-column: span 3;
    }
    .projects__item:nth-child(3) {
      grid-column: span 6;
    }

    .projects__item:nth-child(4) {
      grid-column: span 7;
    }

    .projects__item:nth-child(5) {
      grid-column: span 7;
      order: 1;
    }

    .projects__item:nth-child(6) {
      grid-column: span 5;
    }

    .projects__item:nth-child(7) {
      grid-column: span 5;
    }
}


@media (max-width: 840px) {
  .header__link {
    font-size: 14px;
  }
}
