.projects {
    padding-top: 68px;
    padding-bottom: 68px;
}

.projects__title {
    @include fontTT;
    @include h2-title;
    color: $bgColor;
    margin-bottom: 12px;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.projects__item {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;

  .projects__card-img {
    margin-bottom: 18px;

    .projects__img {
      width: 100%
    }

  }

  a {
    @include fontRoboto;
    @include cardDescr;
    color: $bgColor;
    margin-bottom: 10px;
  }

  .projects__data {
    display: flex;
    align-items: center;

    svg {
      display: block;
      width: 11.67px;
      height: 12.83px;
      margin-right: 5px;
      max-width: 100%;
    }

    .projects__data {
      @include fontRoboto;
      @include data;
    }

  }

  .projects__rectangle {
    @include rectangle;
    position: absolute;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 10px;
  }

}

.projects__item-max {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;

  .projects__card-img {
    .projects__img {
      width: 100%
    }
  }

  .projects__card-container {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 25px 30px;
    height: 300px;
    justify-content: space-between;


    .projects__card-content {
      max-width: 292px;

      h2 {
        @include fontTT;
        @include h2-title;
        color: $text-color;
        width: 210px;
      }

      .projects__descr {
        @include fontRoboto;
        @include cardDescr;
        color: $text-color;
      }
    }

  }

  .projects__btn {
    @include btnEmpty;
    width: 125px;
  }
}



.projects__item {
  grid-column: span 2;
}

.projects__item:nth-child(7n - 3),
.projects__item:nth-child(7n - 2) {
  grid-column: span 6;
}

.projects__item:nth-child(7n - 1),
.projects__item:nth-child(7n) {
  grid-column: span 3;
}


.projects__item-max-img-4 {
  background-image: url(../images/projects4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.projects__item-max-img-5 {
  background-image: url(../images/projects5.png);
  background-size: cover;
  background-repeat: no-repeat;
}
